@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
}

.cta-container {
  text-align: center; /* centraliza horizontalmente */
  margin: 0; /* sem margem extra */
  min-height: 120px; /* fixa altura para 2 linhas */
}

.titulo-principal {
  font-family: 'Garagegothic', monospace;
  font-size: 90px;
  color: #ffefc7;
  line-height: 1em;
  white-space: pre-line;
  display: inline-block;
  margin: -50px 0 50px 0; /* remove margem padrão do h1 */
}

.cursor {
  display: inline;
  color: #ffefc7;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/*FOOTER CSS*/
.gradient-hover-shake {
  font-size: 1.8rem;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease;
}

.gradient-hover-shake:hover {
  animation: fa-bounce 1.5s infinite;
}
.whatsapp-bounce{
    font-size: 1.5rem;
    background: #3ce159;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease;
}
.whatsapp-bounce:hover{
    animation: fa-bounce 1.5s infinite;
}
.facebook-bounce{
    font-size: 1.5rem;
    background: #0865ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease;
}
.facebook-bounce:hover{
    animation: fa-bounce 1.5s infinite;
}
/*Bolinhas do caroussel*/
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fecaca;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #E02424;
}
/*Carrossel avaliação*/
/* Adiciona uma transição suave para o efeito de escala e opacidade.
  Isso faz o slide crescer e sumir suavemente.
*/
.review-swiper .swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Em telas de desktop (768px ou mais):
  Diminui o tamanho e a opacidade dos slides que NÃO estão no meio.
*/
@media (min-width: 768px) {
  .review-swiper .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.9);
    opacity: 0.6;
  }
}

/* Garante que o slide do meio (o .swiper-slide-active)
  fique com 100% do tamanho e 100% de opacidade.
*/
.review-swiper .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}